<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <section class="search-section">
        <div class="main-title">
          <h2>Welcome to the first pollution social network</h2>
          <p>
            Share the pollution present in your city to be <br />
            able to warn other people.
          </p>
        </div>
        <div class="search-div">
          <p class="search-p">Search for a city:</p>
          <input
            class="search-input"
            type="text"
            placeholder="Milan, London, ecc."
          />
          <button class="search-btn" type="submit">Search</button>
        </div>
      </section>
      <section class="report-section">
        <% if(reports.length > 0) {%> <% reports.forEach(report => { %>
        <div id="reportDiv" class="report-div">
          <h3 class="report-title"><%= report.city %></h3>
          <img
            class="reportImages"
            src="/assets/images/<%= report.image %>"
            alt="report"
          />
          <p class="report-user">By: <%= report.user %></p>
          <p class="report-date">
            At: <%= report.createdAt.toLocaleString() %>
          </p>
          <% if(report.updatedAt){ %>
          <p>Last update: <%= report.updatedAt.toLocaleString() %></p>
          <% } %>
          <p>Status: <%= report.status %></p>
          <p class="report-desc"><%= report.comment %></p>
          <div class="report-buttons">
            <button
              class="delete-button"
              data-id="<%= report.id %>"
              data-img="<%= report.image %>"
              type="submit"
            >
              <i style="margin-right: 0.5rem" class="fas fa-trash"></i>
              Delete
            </button>
            <form action="/edit/<%= report.id %>" method="GET">
              <button class="update-button" type="submit">
                <i style="margin-right: 0.5rem" class="far fa-edit"></i>
                Edit
              </button>
            </form>
          </div>
        </div>
        <% }) %> <% } else{ %>
        <h3 class="no-report">There are no report yet, sorry.</h3>
        <% } %>
      </section>
    </main>
    <%- include('./partials/footer') %>
    <script>
      document
        .querySelector(".report-section")
        .addEventListener("click", function (event) {
          if (event.target.className === "delete-button") {
            const id = event.target.dataset.id;
            const image = event.target.dataset.img;
            deleteReport(id, image)
          }
        });
      function deleteReport(id, image) {
        const endpoint = `http://localhost:8080/delete/${id}/${image}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      }
      const searchBtn = document.querySelector(".search-btn");
      searchBtn.onclick = function () {
        const searchValue = document.querySelector(".search-input").value;
        window.location.href = "http://localhost:8080/search/" + searchValue;
      };
    </script>
  </body>
</html>
